body{
    font-size: small;
}
.form{
    text-align: center;
    border: 1px solid black;
    margin-bottom: 5px;
}
table{
    border-collapse: collapse;
    margin-bottom: 5px;
    table-layout: fixed;
}
.sub-container table{
    width: 100%;
    
}
table td , th{
    border: 1px solid black;
}
.snd-content{
   
    display: flex;
    justify-content: space-between;
}
.sub-snd table{
    width: 33%;
}
input{
    outline: none;
    border: none;
    background: none;
    width: 20px;
}