@page{
    size: A4;
    margin: 0;
}

body{
    font-size: 10pt;
  
}
.main{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.container{
    border: 1px solid black;
    position: absolute;  
  margin-bottom: 10px;

}


.fifth{
    padding:10px ;
    padding-top:0;
    padding-bottom:0 ;
     border-bottom: 1px solid black;
     text-align: center;
}
.fifth th{
    border: 1px solid black;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            height: 100px;
            text-align: center;
}
.fifth td{
    height: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

table td{
    border: 1px solid black;
}
input{
    background:none;
    border: none;
    outline: none;
}

textarea{
    background:none;
    border: none;
    outline: none;
    resize: none;
    width: 50px;
    height: 100px;
}
table th{
    border: 1px solid black;
}
.tr td {
    
    height: 10px;
}
.tr textarea{
    height: 16pt;
}
.lastrow td{
        height: 600px;
        width: 300px;
}
.lastrow textarea{
    height: 600px;
    width: 300px;
}
.fifth .lastrow-td{
    width: 30px;
}
.fifth .lastrow-td textarea{
    width: 25px;
    height: 90px;
    writing-mode: vertical-rl;
            transform: rotate(180deg);

        }
@media print {
    body{
        font-size: 12pt;
    }
    .fifth .lastrow-td textarea{
        width: 80px;
        }
    .main{
        display: grid;
        justify-content: none;
    }
}