@page{
    font-size: 8pt;
    margin: 1cm;
}
body{
    font-size: medium;
}
.head{
    display: flex;
    justify-content: space-between;
}
.head h2{
    text-align: center;
}
.head img{
    width: 150px;
    height: 150px;
}
.main  {
    padding: 6rem;
    
}
.container{
    border: 3px solid black;


}
table{
    width: 100%;
    border-collapse: collapse;
    
}
td,th{
    
    border: 1px solid black;

    
}
td:first-child{
    border-left: none;
}
td:last-child{
    border-right: none;
}

input{
    width: 70px;
    border: none;
    border-bottom: 1px dotted black;
    outline: none;
    background: none;
}
.snd input{
    width: 70px ;
    border: none;
}
.snd thead{
    background-color: #D9D9D9;
}
.last tbody{
    border-bottom: 1px dotted black;
}
.upper{
    background-color: #D9E1F2;
}
.no-bor input{
    border: none;
}

@media print {
    body{
        font-size: 8pt;
    }
    .main  {
        padding: 1rem;
        
    }
    /* table{
        table-layout: fixed;
    } */
    th{
        font-size: xx-small;
    }
}